/*#region nav*/
.navBar {
  margin-bottom: 1.5em;
}
.contactICon {
  margin-left: auto;
}
.contactICon :hover {
  cursor: pointer;
}
.buttonLogin {
  margin-right: 1em !important;
  border-radius: 20px;
}
/*#endregion nav*/
/*#region gridview*/

.filterMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
}
.filterCard {
  height: 420px;
  width: 220px !important;
  background-color: white;
  /* flex: 0 0 33.3333%; */
  margin: 0 0 10px 10px;
  position: relative;
  overflow: hidden;
}
.filterCard:hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
}
.filterTag {
  margin: auto;
}
.GridContainer {
  max-width: 690px;
  margin: auto;
  flex-wrap: wrap;
  flex-grow: 1;
  display: flex;
}
/*#endregion gridview*/
/*#endregion mediaquery*/
/*#region card*/

.itemCard {
  min-width: 200px;
}
.orange {
  background-color: rgba(120, 245, 48, 0.705) !important;
}
.cardTag:hover {
  cursor: pointer;
}
.media {
  height: 90px !important;
  padding-top: 56.25%;
}
/*#endregion card*/
/*#region footer*/
footer {
  margin-top: 2em !important;
  width: 100%;
  height: 350px;
  background-color: #3f51b5;
}
/*#endregion footer*/
/*#region loginmodal*/
.modalLogInBackGround {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.438);
}
/*#endregion loginmodal*/
/*#region Login View*/
.paper {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.avatar {
  margin: 1rem;
  background-color: red;
}
.form {
  width: 100%;
  margin-top: 3rem;
}
.submit {
  margin: auto;
}
.home:hover {
  cursor: pointer !important;
}
/*#endregion Loginview*/
/*#region mediaquery*/
@media (max-width: 1200px) {
  .filterCard {
    width: 200px !important;
  }
}
@media (max-width: 600px) {
  .filterCard {
    width: 200px !important;
  }
}

/*#endregion mediaquery*/
/*#region Global*/
body {
  background-color: rgba(0, 0, 0, 0.14);
}
/*#endregion Global*/
/*#region cardView*/
.cardViewMedia {
  width: calc(100% - 12px) !important;
  height: 400px;
  background-size: initial !important;
  margin: auto;
}
.cardViewCard {
  margin: auto;
  width: 60%;
  height: auto;
  background-color: whitesmoke;
}
/*#endregion cardView*/
